<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://s2-quem.glbimg.com/KQ4KmY-4GMRUIYww6kmee7jdWFU=/0x0:1080x1350/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b0f0e84207c948ab8b8777be5a6a4395/internal_photos/bs/2023/K/I/3O9C1OTqODAbAH1jOYcQ/snapinsta.app-1080-334684984-594615066028210-4973006811210157800-n-1-.jpg"
      cardTitle="AUTO DA COMPADECIDA 2"
      cardDescription="Após 20 anos é iniciado a gravação da segunda etapa do grande sucesso brasileiro, O Auto da Compadecida."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="https://m.media-amazon.com/images/I/711ao27c6TL._AC_UF1000,1000_QL80_.jpg"
      cardTitle="Cidade de Deus - Incrível filme Brasileiro retrata a realidade da favela do Rio de Janeiro"></app-small-card>
    <app-small-card
      photoCover="https://i.ytimg.com/vi/PpB4vPJLS00/sddefault.jpg"
      cardTitle="Novo PES 2024 acaba de ser lançado, já englobando as ultimas contrações.">></app-small-card>
    <app-small-card photoCover="https://jpimg.com.br/uploads/2023/08/soundfreedom_hiperionblog-1024x658.jpg"
      cardTitle="Um incrível sucesso de bilheteria. Som da Liberdade retrada a realidade do perverso tráfico internacional de crianças">></app-small-card>
  </div>
</div>
